
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Minimal login form Responsive Widget Template : W3Layouts</title>

    <!-- Meta tags 
        -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet 
        -->
    <link rel="stylesheet" href= {% static "CSS/reg.css" %} type="text/css" media="all" />
<!--bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% if error %}
    <script>
        alert('{{error}} ');
    </script>
    {% endif %}
</head>

<body>
    <div class="w3l-loginblock signinform">
        <div class="logo">
            <a class="brand-logo" href="index.html">Minimal login form</a>
        </div>
        <!-- main content -->
            <div class="row map-content-9">
                <div class="info-grids">
                    <form  method="post" class="">
                        {% csrf_token %}
                        <div class="form-grid">
                           
                            <div class="input-field">
                                <label>Email</label>
                                <input type="email" name="email" id="Password" placeholder="Email" required="" >
                            </div>
                            
                            <div class="input-field">
                                <label>Password</label>
                                <input type="password" name="password" id="Password" placeholder="Password" required="">

                            </div>
                           
                        </div>
                        {% if wrong_pass %}
                        <div class="alert alert-danger" role = alert>
                            {{wrong_pass}}
                        </div>
                        {% endif %}
                        <button type="submit" class="btn btn-primary btn-style">Login</button>
                    </form>
                </div>
               
        <!-- //main content -->
        <!-- footer -->
        <!-- footer -->
    </div>

    <!-- fontawesome v5-->
    <script src=fontawesome.js></script>

</body>

</html>